.drawer {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: $secondary;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  &.-open {
    width: 300px;
  }
  .closebtn {
    position: absolute;
    top: 0;
    font-size: 36px;
    color: $primary;
    cursor: pointer;
  }
  .drawer-content {
    padding: 16px;

    .drawer-image-container {
      background-color: #fff;
      justify-content: center;
      align-items: center;
      display: flex;
      height: 300px;
      border-radius: 16px;
      padding: 12px;
    }
  }
}

@media screen and (max-height: 450px) {
  .drawer {
    padding-top: 15px;
  }
}
