.game {
  > img {
    transform: scale(0.5);
    animation-name: example;
    animation-duration: 4s;
  }
}

@keyframes example {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(0.5);
  }
}
